* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Fantasque Sans Mono, Bold;
    font-weight: bold;
    font-size: 20px;
}

window#waybar {
    background-color: #00212B;
    border-top: 3px solid rgba(0, 43, 54, 1.0);
    color: #93a1a1;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces * {
    color: #eee8d5;
    background-color: #073642;
    border-radius: 5px;
    font-size: 22px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 8px;
    margin: 0px 0px;
}

#workspaces button {
    border-top: 3px solid #586e75;
    margin: 2px 2px;
}

#workspaces button.focused {
    border-top: 3px solid #93a1a1;
    color: #eee8d5;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #00212B;
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

/* #workspaces button.focused { */
/*     border-bottom: 3px solid #586e75; */
/* } */

#workspaces button.urgent {
    background-color: #dc322f;
}

#mode{
    margin-left: 10px;
    background-color: #00212B;
    border-top: 3px solid rgba(0, 43, 54, 1.0);
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #custom-vpn, #custom-blu  {
    color: #93a1a1;
    background-color: #073642;
    font-size: 20px;
    padding: 2px 5px;
    margin: 2px 0px;
    border-radius: 0px 0px 0px 0px;
}

#clock {
    font-size: 22px;
    border-radius: 0px 5px 5px 0px;
    padding-left: 5px;
    margin-left: 0px;
    padding-right: 10px;
    color: #93a1a1;
    background-color: #073642;
    border-top: 3px solid #93a1a1
}

#clock.icon {
    border-radius: 5px 0px 0px 5px;
    padding-right: 5px;
    padding-left: 10px;
}

#pulseaudio.mic {
    border-radius: 5px 0px 0px 5px;
    padding-left: 12px;
}

#pulseaudio {
    border-top: 3px solid #dc322f;
}

#pulseaudio.txt{
    border-radius: 0px 5px 5px 0px;
    padding-left: 3px;
    padding-right: 12px;
    margin-right: 5px;
}

#pulseaudio.txt.muted, #pulseaudio.vol.muted, #pulseaudio.mic.source-muted{
    color: #dc322f;
}

#battery {
    border-top: 3px solid rgba(203, 75, 22, 1);
}

#battery {
    border-top: 3px solid rgba(203, 75, 22, 1);
}

#battery.critical:not(.charging) {
    color: #dc322f;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    border-top: 3px solid #b58900;
}

#custom-vpn {
    border-top: 3px solid #b58900;
}

#custom-blu {
    border-top: 3px solid #b58900;
}
#network.icon.disconnected {
    color: #dc322f;
}

#battery.icon, #network.icon, #cpu.icon, #memory.icon {
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
    padding-right: 5px;
    margin-left: 5px;
}

#battery.txt, #network.txt, #cpu.txt, #memory.txt {
    border-radius: 0px 5px 5px 0px;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 5px;
}

#cpu {
    border-top: 3px solid rgba(133, 153, 0, 1);
}

#memory {
    border-top: 3px solid rgba(42, 161, 152, 1);
}

#tray {
    border-radius: 5px;
    border-top: 3px solid rgba(108, 113, 196, 1);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 7px;
    margin-left: 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #00212B;
}
